.resources-title {
  color: palevioletred;
  font-size: 4rem;
  margin: 9.6rem 0 4.4rem 0;
  align-items: center;
  text-align: center;
}

.resources-page {
  display: grid;
  gap: 2.4rem;
  padding: 3.4rem;
}

.resources {
  overflow: hidden;
  color: #888;
  text-align: left;
  border: solid #456d47;
  padding: 3.4rem;
  margin: 2.2rem 4.4rem;
  font-size: 2rem;
  gap: 2rem;
  line-height: 1;
  border-radius: 7%;
}

.resources-h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.resources p {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.resources li {
  padding-bottom: 1.2rem;
}

.helpline-no-img {
  background-image: linear-gradient(to right bottom, #1a3d1c, #50a955);
  border: 8px solid #000;
  opacity: 70%;
  /* background-color: #d87093; */
}

.helpline-no h3 {
  color: #000;
}
