/* - FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
    01-FONT SIZE
        general- Rubik
        bold- Abril Fatface

    02-COLOR/TINTS
        bg-color- #fdffe7
        font color- #333
        bold font color- #456d47    
*/

/* --06 SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdffe7;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  margin-bottom: 2.2rem;
}

.logo {
  height: 300px;
  margin-top: 4.4rem;
}

/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 3.2rem;
  transition: all 0.3s;
  color: #456d47;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #75b178;
}

/* IMAGE IN SERIES */
.series-img {
  display: flex;
}

.hero-img-box {
  overflow: hidden;
}

.hero-img:hover {
  transition: all 0.3s;
}

/* LEARN MORE BTN */
.more-btn {
  align-items: center;
  text-align: center;
}

button {
  border: none;
  background-color: #a8e7ab;
  font-family: "Abril Fatface", sans-serif;
  padding: 10px 20px;
  font-size: 3.2rem;
  border-radius: 4.4rem;
  margin-bottom: 2.4rem;
}

.more-btn a {
  text-decoration: none;
  color: #000;
}

button:hover {
  box-shadow: inset 0 0 0 3px #456d47;
  cursor: pointer;
  border-radius: 4.4rem;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #333;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #456d47;
}

/* *************** */
/* FEATURED SECTION */
/* *************** */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/* *************** */
/* OUR MISSION */
/* *************** */

.section-ourmission {
  max-width: 200rem;
  margin: 3.4rem auto;
}

.ourmission-letters {
  align-items: center;
  text-align: center;
  padding-bottom: 5.2rem;
  font-size: 3.2rem;
  color: #1a241b;
  padding-top: 4.4rem;
}

.our-mission {
  display: flex;
  align-items: center;
  overflow: scroll;
  padding-bottom: 3.2rem;
  scroll-behavior: smooth;
}

.our-mission::-webkit-scrollbar {
  display: none;
}

.mission {
  max-width: 50rem;
  padding: 0 4.4rem;
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.mission-img {
  width: 80%;
  border-radius: 15%;
  column-gap: 2.4rem;
}

.mission p {
  width: 80%;
  font-size: 2.4rem;
  border: 1px solid #456d47;
  border-radius: 20%;
  padding: 2rem 5.2rem 2rem 5.2rem;
  align-items: center;
  justify-content: center;
}

/* *********** */
/* CTA SECTION */
/* *********** */

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.container-cta {
  max-width: 120rem;
  margin: 2.4rem auto;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  /* gradient */
  background-image: linear-gradient(to right bottom, #6c9e6e, #7ec481);
  overflow: hidden;
  margin-bottom: 8.4rem;
  /* temp */
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #000;
}

.cta .heading-secondary {
  color: #000;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.btn--form {
  font-size: 2.4rem;
  margin-top: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #a8e7ab;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #888;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(111, 113, 112, 0.5);
}

.ribbon-img {
  background-image: url(../Images/symbol-1.png);
  background-size: cover;
  background-position: center;
}

/* *********** */
/* OUR BLOGS */
/* *********** */

.blog-heading {
  align-items: center;
  text-align: center;
  font-size: 3.2rem;
  color: #1a241b;
  padding-top: 4.4rem;
}

.section-blog {
  display: grid;
  margin: 4.4rem 4.4rem;
}

.blog-post {
  display: flex;
  font-size: 2rem;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s;
}

.blog-1 {
  border: solid #456d47;
  border-radius: 9%;
  color: #4a4a4a;
  padding: 2.2rem;
  margin: 2.2rem 4.4rem;
  justify-content: space-around;
}

.blog-1 a {
  text-decoration: none;
  color: #4a4a4a;
}

.blog-1 h3 {
  font-size: 3.4rem;
  margin-bottom: 2.2rem;
  text-align: center;
  color: #456d47;
}

.blog-1 a:hover {
  color: #000;
}

.blog-1:hover {
  background-color: #dbf4c7b3;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  transform: translateY(-1.2rem);
}

/* arrow */
.arrow-icon {
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* **************** */
/*AREA OF EXPERTIES */
/* **************** */

.area-of-experties {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
}

.experties-heading {
  align-items: center;
  text-align: center;
  font-size: 3.2rem;
  color: #1a241b;
}

.areas {
  display: flex;
  background-color: #a8e7ab;
  border: solid #000;
  border-radius: 50%;
  padding: 4.4rem;
  margin: 2.2rem 4.4rem;
  justify-content: space-around;
}

.areas a {
  color: #000;
  font-size: 2.2rem;
  text-decoration: none;
}

/* **************** */
/*AREA OF EXPERTIES */
/* **************** */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #000;
  padding: 0 4.8rem;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.logo-footer {
  height: 80%;
  width: 90%;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icons {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  color: #767676;
  margin-bottom: 2.4rem;
}

.footer-link {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
